{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verduleria</title>
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />

    {% block css %} {% endblock %}
  </head>
  <body>
    <!--Menu navegacion-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- navbar navbar-dark bg-dark -->
      <div class="container-fluid">
        <a class="navbar-brand" href="/index/">Verduleria</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/index/#productos">Productos</a>
            </li>

            {% if request.user.is_superuser %}
            <li class="nav-item mr-1">
              <a class="nav-link" href="/listar-proveedores/"
                >Crear Proveedores</a
              >
            </li>
            <li class="nav-item mr-1">
              <a class="nav-link" href="/listar-productos/">Crear Productos</a>
            </li>

            {% endif %}

            <!-- <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li> -->
            <!-- <li class="nav-item">
              <a
                class="nav-link disabled"
                href="#"
                tabindex="-1"
                aria-disabled="true"
                >Disabled</a
              >
            </li> -->
          </ul>
          <!-- <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              id="findVegetal"
              list="listamodelos"
              placeholder="Buscar Vegetales"
              name="searchVegetables"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-success"
              type="submit"
              onclick="findVegetables()"
            >
              Search
            </button>
            <datalist id="listamodelos">
              <option value="Apio"></option>
              <option value="Arandano"></option>
              <option value="Frutilla"></option>
              <option value="Manzana"></option>
              <option value="Platano"></option>
              <option value="Naranja"></option>
              <option value="Cilantro"></option>
              <option value="Palta"></option>
            </datalist>

            <script>
              function findVegetables() {
                const optionsVegatables = document
                  .querySelector("#listamodelos")
                  .querySelectorAll("option");
                const ArrayVegatables = Array.from(optionsVegatables);
              }
              // findVegetables();
            </script>
          </form> -->
          {% if user.is_authenticated %}
          <li class="nav-item mr-1">
            <a class="nav-link" href="{% url 'logout'  %}">Cerrar Sesión</a>
          </li>
          <li class="nav-item mr-1">
            <a class="nav-link" href="#">@{{ user.username }}</a>
          </li>
          {% else %}
          <li class="nav-item mr-1">
            <a class="nav-link" href="{% url 'login'  %}">Iniciar Sesión</a>
          </li>
          {% endif %}
        </div>
      </div>
    </nav>
    <main class="container">{% block contenido %} {% endblock %}</main>

    <footer>
      <div class="container footerNav">
        <div class="container max-width-c">
          <div class="row gutter">
            <div class="col a-12 c-3 gutter">
              <h4 class="">Acerca de Verduleria<i class=""></i></h4>
              <ul>
                <li>
                  <a class="" href="/contacto/" title="Contáctenos"
                    >Contáctenos</a
                  >
                </li>

                <li>
                  <a class="" href="/nosotros/" title="Acerca de">Acerca de</a>
                </li>
              </ul>
            </div>

            <div class="col a-12 c-3 gutter">
              <h4 class="">Soporte <i class=""></i></h4>
              <ul>
                <li>
                  <a class="" href="/usuarios/" title="">Comunidad </a>
                </li>

                <li>
                  <a class="t" href="#" title="Contactos ">Contactos </a>
                </li>
              </ul>
            </div>

            <div class="col a-12 c-3 gutter">
              <h4 class="">Legal<i class=""></i></h4>
              <ul>
                <li>
                  <a class="" href="#" title="Privacidad">Privacidad</a>
                </li>

                <li>
                  <a class="" href="#" title="Política de cookies"
                    >Política de cookies</a
                  >
                </li>

                <li>
                  <a class="" href="#" title="Aviso legal">Aviso legal</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
      crossorigin="anonymous"
    ></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% block js %} {% endblock %} {% if messages %} {% for m in messages %}
    <script>
      Swal.fire({
        title: "Felicitaciones",
        text: "{{m}}",
        icon: "success",
      });
    </script>
    {% endfor %} {% endif %}
  </body>
</html>
