{% extends 'app/base.html' %} {% load static %} {% block css %} {%endblock%}
{%block js %} {% endblock %} {% block contenido %}

<div>
  <div class="portada" id="inicio">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div
            id="carouselExampleControls"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="https://static4.depositphotos.com/1000992/512/i/950/depositphotos_5129498-stock-photo-fresh-vegetables-fruits-and-other.jpg"
                  class="d-block w-100"
                  alt="..."
                  width="620px"
                  height="450px"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPl7N4cAm-yWav28Lf-hz7c7YQrpkL4_xW2A&usqp=CAU"
                  class="d-block w-100"
                  alt="..."
                  width="620px"
                  height="450px"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="https://s1.eestatic.com/2016/04/06/cocinillas/cocinillas_115250122_116248453_1024x576.jpg"
                  class="d-block w-100"
                  alt="..."
                  width="620px"
                  height="450px"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="title">
    <!-- <div class="center">
      <hr width="50%" size="3" noshade />
      <br />
      <br />
    </div> -->
    <div class="d-flex justify-content-center">
      <br />
      <br />
      <h3>Catalogo de Productos</h3>
    </div>
  </div>
  <div class="container">
    <div class="row row-col justify-content-center">
      {% if productos|length > 0 %} {% for p in productos %}
      <div class="col-8 col-sm-8 col-md-4 col-lg-3">
        <div class="card text-center h-100">
          <div class="card-head">
            {% if p.imagen_url %}
              <img src="{{p.imagen_url}}" class="card-img-top img-fluid" />
            {% else %}
              <img src="{% static 'app/images/producto-sin-imagen.png' %}" class="card-img-top img-fluid" />
            {% endif %}
          </div>
          <hr />
          <div class="card-body">
            <h4 class="card-title">{{p.nombre}}</h4>
            <sub>1un</sub>
            <div>
              <br />
              <h5>$ {{p.precio}}</h5>
            </div>
          </div>
        </div>
      </div>
      {% endfor %} 
      {% else %}
      <div class="row row-col justify-content-center">
        <h1 >NO HAY PRODUCTOS CARGADOS :c</h1>
      </div>
      {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
