{% extends 'app/base.html' %} {% load static %} {% block css %} {% endblock %}
{% block js %}
<script src="{% static 'app/js/confirmacion.js'%}"></script>
{% endblock %} {% block contenido %}

<div class="card">
  <div class="card-body">
    <h1 class="text-center">Listado Proveedores</h1>
    <hr />
    <table
      class="table table-dark table-hover table-striped table-responsive-sm"
    >
      <thead>
        <tr>
          <th scope="col">Rut</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Servicio</th>
          <th scope="col">Operación</th>
        </tr>
      </thead>
      <tbody>
        {% if proveedores %} {% for p in proveedores %}
        <tr>
          <td>{{p.rut}}</td>
          <td>{{p.nombre}}</td>
          <td>{{p.descripcion}}</td>
          <td>{{p.servicio}}</td>
          <td>
            <a
              href="{% url 'modificar_proveedor' p.rut %}"
              class="btn btn-warning btn-sm"
              >Modificar</a
            >
            <a
              href="#"
              onclick="confirmarEliminar({{ p.rut }}, '/eliminar-proveedor/')"
              class="btn btn-danger btn-sm"
              >Eliminar</a
            >
          </td>
        </tr>
        {% endfor %} {% endif %}
      </tbody>
    </table>
  </div>
</div>

<br />
<br />
<div class="d-flex justify-content-center">
  <button class="btn btn-warning">
    <a class="nav-link text-dark" href="{% url 'nuevo_proveedor' %}"
      >Agregar Proveedor</a
    >
  </button>
</div>
<br />
<br />
{% endblock %}
