{% extends 'app/base.html' %} {% load static %} {% block css %} {% endblock %}
{% block js %}
<script src="{% static 'app/js/confirmacion.js'%}"></script>
{% endblock %} {% block contenido %}

<div class="card">
  <div class="card-body">
    <h1 class="text-center">Listado Productos</h1>
    <hr />
    <table
      class="table table-dark table-hover table-striped table-responsive-sm"
    >
      <thead>
        <tr>
          <th scope="col">sku</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Categoria</th>
          <th scope="col">Operación</th>
        </tr>
      </thead>
      <tbody>
        {% if productos %} {% for p in productos %}
        <tr>
          <td>{{p.sku}}</td>
          <td>{{p.nombre}}</td>
          <td>{{p.precio}}</td>
          <td>{{p.categoria}}</td>
          <td>
            <a
              href="{% url 'modificar_producto' p.sku %}"
              class="btn btn-warning btn-sm"
              >Modificar</a
            >
            <a
              href="#"
              onclick="confirmarEliminar({{ p.sku }}, '/eliminar-producto/')"
              class="btn btn-danger btn-sm"
              >Eliminar</a
            >
          </td>
        </tr>
        {% endfor %} {% endif %}
      </tbody>
    </table>
  </div>
</div>

<br />
<br />
<div class="d-flex justify-content-center">
  <button class="btn btn-warning">
    <a class="nav-link text-dark" href="{% url 'nuevo_producto' %}"
      >Agregar Producto
    </a>
  </button>
</div>
<br />
<br />
{% endblock %}
