{% extends 'app/base.html' %} {% load static %} {% block css %} {% endblock %}
{% block contenido %} {% load crispy_forms_tags %}
<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <h1 class="text-center">Modificar Producto</h1>
    <br />
    <hr />
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %} {{form | crispy}}
      <br />
      <div class="d-flex justify-content-end">
        <input type="submit" class="btn btn-warning" value="Modificar" />
        &nbsp;
        <input type="reset" class="btn btn-dark" value="Limpiar" />
      </div>
      <div class="d-flex justify-content-center">
        <h4 class="text-dark">{{mensaje}}</h4>
      </div>
    </form>
  </div>
</div>
{{mensaje}} {% endblock %}
